name: Tests

on:
  - push
  - pull_request

jobs:
  tests:
    name: Python ${{ matrix.python-version }} - ${{ matrix.qt-lib }}
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.7", "3.8", "3.9", "3.10"]
        qt-lib: [pyqt5, pyqt6, pyside2, pyside6]
        include:
          - python-version: "3.7"
            tox-env: "py37"
          - python-version: "3.8"
            tox-env: "py38"
          - python-version: "3.9"
            tox-env: "py39"
          - python-version: "3.10"
            tox-env: "py310"
    steps:
      - uses: actions/checkout@v3
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v3
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install tox
      - name: Install system dependencies
        run: |
          sudo apt-get update -y
          sudo apt-get install -y --no-install-recommends \
            '^libxcb.*-dev' \
            libx11-xcb-dev \
            libglu1-mesa-dev \
            libxrender-dev \
            libxi-dev \
            libxkbcommon-dev \
            libxkbcommon-x11-dev \
            xvfb
      - name: Test with tox
        run: |
          tox -e ${{ matrix.tox-env }}-${{ matrix.qt-lib }} -- -ra --color=yes
      - name: Upload documentation
        uses: actions/upload-artifact@v3
        with:
          name: docs-Python${{ matrix.python-version }}-${{ matrix.qt-lib }}
          path: docs/_build
